body {
  margin-top: 250px;
}

div {
  display: flex;
  justify-content: center;
}

div button {
  margin: 10px 10px;
}

p {
  text-align: center;
}

.game_choices p {
  margin: 20px;
}

.game_score {
  margin-bottom: 80px;
}

.game_score p {
  margin: 20px;
}

div .score_tracker {
  align-items: center;
  border: solid 1px black;
  display: flex;
  height: 40px;
  text-align: left;
  width: 500px;
}

div .score_tracker p {
  padding: 0 5px;
}
